beets/.config/beets/spotify_token.json
beets/.config/beets/state.pickle
dmenu/.config/dmenu/*
dwm/.config/dwm/*
gnupg/.local/share/gnupg/*
!gnupg/.local/share/gnupg/gpg-agent.conf
!gnupg/.local/share/gnupg/pinentry-dmenu.conf
mpd/.config/mpd/*
mpv/.config/mpv/watch_later/*
ncmpcpp/.config/ncmpcpp/error.log
nvim/.config/nvim/plugin
runit/.config/runit/runsvdir/*
runit/.config/runit/sv/*/log/supervise/*
runit/.config/runit/sv/*/supervise/*
st/.config/st/*
tags
vifm/.config/vifm/vifminfo.json
x11/.config/x11/Xauthority
zsh/.config/zsh/.zcompdump
!dmenu/.config/dmenu/*.*
!dmenu/.config/dmenu/Makefile
!dmenu/.config/dmenu/*/
!dwm/.config/dwm/*.*
!dwm/.config/dwm/*/
!dwm/.config/dwm/Makefile
!mpd/.config/mpd/mpd.conf
!st/.config/st/*.*
!st/.config/st/Makefile
!st/.config/st/*/
*.o
*.orig
